.main-container{
    width: 250px;
    height: 350px;
    
    border: 6px solid black;
    border-radius: 20px;
   
}
.subchild1{
    width:245px;
    height: 40px;
    background-color: rgb(19, 128, 0);
    border: 3px solid black;
    border-radius: 6px 6px 0px 0px;
}
.subchild2{
    width:245px;
    height: 260px;
    
    border: 3px solid;
  position:relative;
}
h3{
    color:black;
    padding: 2px;
    text-align: center;
    position:fixed;

}